extends templates/default



block content
  

  .container
    div(class='col-md-6 col-md-offset-3')
      if message.length > 0
        script(src='../javascripts/correcto.js')
        //div(class='alert sweetalert-success' role='alert')= message
        
      if authmessage.length > 0
        script(src='../javascripts/error.js')
        //div(class='alert alert-danger' role='alert')= authmessage   
  
    //h3='Pagina de inicio'
  //if isAuthenticated
    p='Bienvenido  ' + user.nombre
   
  include templates/rainbow
  include templates/carousel
  include templates/video

                        

                        
                        


                  

