.container
    .row
        .col-md-offset-3
        d
            .col-md-offset-4   
                h3 Mundo Ejecutivo ON-LINE
#bs-carousel.carousel.fade-carousel.slide(data-ride='carousel', data-interval='4000')
    // opacidad
    .overlay
    // Indices
    ol.carousel-indicators
        li.active(data-target='#bs-carousel', data-slide-to='0')
        li(data-target='#bs-carousel', data-slide-to='1')
        li(data-target='#bs-carousel', data-slide-to='2')
    // vistas 
    .carousel-inner
        .item.slides.active
            img(src='./images/1.jpg', alt='', style='width:100%;')
            .hero
                hgroup
                h1 Lider
                h3 Descripción de la imagen
                button.btn.btn-hero.btn-lg(role='button') Saber más...
        .item.slides
            img(src='./images/6.jpg', alt='', style='width:100%;')
            .hero
                hgroup
                h1 Emprender
                h3 Descripción de la imagen
                button.btn.btn-hero.btn-lg(role='button') Saber más...
        .item.slides
            img(src='./images/7.jpg', alt='', style='width:100%;')
            .hero
                hgroup
                h1 Empresa
                h3 Descripción de la imagen
                button.btn.btn-hero.btn-lg(role='button') Saber más...